<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 style="background-color:yellow; color:red"><b><center>Prediction</b></h1><hr>
<p style="color:red">Fill the details of patient , will get the patient is safe or not. </p>
<hr>
<form action="/submit" method="post">
    <label style="color:red" for="Red"><b>Red Pixel</b></label><br>
    <input type="number" name="%Red Pixel" placeholder="Enter Red pixel"><br>
    <label style="color:green" for="Green"><b>Green Pixel</b></label><br>
    <input type="number" name="%Green pixel" placeholder="Enter Green pixel"><br>
    <label style="color:blue" for="Blue"><b>Blue Pixel</b></label><br>
    <input type="number" name="%Blue pixel" placeholder="Enter Blue pixel "><br>
    <label style="color:magenta" for="Hb"><b>Hb</b></label><br>
    <input type="number" name="Hb" placeholder="Enter Hb">
    <button style="yellow">Submit</button>
    <hr>

<p style="background-color:sky ;color:red"> This is the note for a patients who have symtoms of disease of Anemia ...</p>
</form>

</body>
</html>